
@font-face {
    font-family: 'LoveYouLikeASister';
    src: url('assets/fonts/LoveYaLikeASister.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "fruit";
    src: url('assets/fonts/FrutigerLTStd-BoldCn.woff') format("woff"); 
      font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: "fruit";
  
    src: url('assets/fonts/FrutigerLTStd-BoldCn.woff') format("woff"); 
    /* Too light  
    src: url('assets/fonts/Frutiger 57 Condensed_0.woff') format("woff"); 
    */
    font-weight: normal;
    font-style: normal;
}


body { min-height:800px;
       text-align: left !important;
       font-family: Arial, Helvetica, sans-serif;
       font-size:18px;
       font-weight:normal;
       min-width:320px;
       max-width:1024px;
       margin-left:auto;
       margin-right:auto;
       background: url(../tilleygreen/assets/images/bg-body.jpg);
       background-repeat: no-repeat;
       background-position: center center;
       -o-background-size: 100% 100%, auto;
       -moz-background-size: 100% 100%, auto;
       -webkit-background-size: 100% 100%, auto;
       background-size: cover;}

.container {min-width:248px}


body.page-id-7 {min-height:2500px}

h1,h2,h3,th {font-family:'fruit';
          font-weight:bold;}

h1 {color:#a4d767;  /* green */
     font-size:24px}
h2, h2 a {color: #a4d767 !important; font-size:18px;margin:0} /* green */
h3 {color:#46166b; /* purple */
    font-size:24px; font-weight:bold}

b,
p strong { color:#46166b} /*purple */

a {color:rgba(85, 85, 85, 1);}
a:hover{color:#a4d767;  /* green */
        text-decoration:none}
.product a:hover {color:rgba(85, 85, 85, 1); }

a.tandc {color:white;}
a.tandc:hover{color:white;  /* green */
        text-decoration:none}

.LoveYouLikeASister {font-family: 'LoveYouLikeASister';
                     font-size:24px}

.coffee-details .LoveYouLikeASister, .tag-line {font-family: 'LoveYouLikeASister';
                     font-size:18px}

#wrapper {
    background-color:white;
    display: block; 
    width:90%; 
    padding: 0 20px;
    margin:0px auto; }

#content { width: 100%; 
           padding:10px 0 !important}


#delimiter { clear: both; }

.title { font-size: 12pt; font-weight: bold; }

/* ****************************** */
/* cookie bar warning             */
/* ****************************** */

#cookie-consent-block {left:0px}
#cookie-consent-block > p > a:nth-child(2) {color:white}
#cookie-consent-block > p > a:nth-child(2):hover {color:#a4d767}
#cookie-consent-block > p > a.close-cookie-block {background-color:#46166b; /* purple */}
#cookie-consent-block > p > a.close-cookie-block:hover {color:white; background-color:#935386; /* light purple */}


/* ***************************** */
/* Breadcrub styling             */
/* ***************************** */

.woocommerce-breadcrumb,
#breadcrumbs{
    list-style:none;
    margin:10px 0 10px -40px;
    overflow:hidden;
    color:#46166b !important; /* purple */
    font-size:16px !important;
    font-weight:bold;
     font-family:'fruit';
}
  
.woocommerce-breadcrumb a {font-weight:normal;
                           font-family:'fruit'}

#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
    font-weight:normal;
    font-family:'fruit';
}



/* ****************************** */
/*   Woo commerce                 */
/* ****************************** */



.label {float:left; padding-top:5px}
.price {float:right; padding-top:5px}

.label label{padding-top:5px}
.product_cat_coffee
.price .amount {color:black;
       font-size:18px;
       font-weight:normal;
       position:relative;
       top:3px}




.product-cat-coffee  {overflow:auto !important} /* stop dive from collapsing and including a height for the summary */

/* coffee category over rides to avaoid making chnages to woo commerce directly */


.woocommerce.product_cat_coffee  div.product form.cart table div.quantity {width:55px;float:right;margin:0 10px}


.woocommerce.product_cat_coffee  div.product form.cart .button:hover,
.woocommerce.product_cat_coffee  div.product form.cart .button{float:right;
                                                               background-color:#a4d767; /* green */
                                                               border-top-color: white;
                                                               border-top-style: solid;
                                                               border-top-width: 4px;
                                                               font-size:30px;
                                                               font-family:'fruit';
                                                               letter-spacing:2px;
                                                               padding-left:0px;
                                                               padding-right:0px;
                                                               padding-top:5px;
                                                               color:white;
                                                               box-shadow:none;
                                                               margin-top:40px}

.product_cat_coffee
.product_meta {visibility: hidden;}

.product_cat_coffee
.product_title,
.product_cat_coffee div.summary.entry-summary div:nth-child(2) p,
.product_cat_coffee div.summary.entry-summary div:nth-child(3) p
{display: none;} 

.product_cat_coffee div.summary.entry-summary{width:100% !important}

.product_cat_coffee .coffee-cup {text-align:center;
                                 width:100%}
.product_cat_coffee .coffee-cup img {margin:auto}

.product_cat_coffee .coffee-bag a {display:block; text-align:center}
.product_cat_coffee .coffee-bag a img {max-width:95%;} 

/* .product_cat_coffee .coffee-col {display:table-cell;} */

.product_cat_coffee .coffee-product {margin:10px 0;
                                     padding:10px;
                                    border-style:solid;
                                    border-width:1px;
                                    border-color:black;
                                    display:table;
                                    width:100%;
   }

.product_cat_coffee .coffee-details {margin:20px}
.product_cat_coffee  strong {color:rgba(85, 85, 85, 1) !important;font-family:'fruit'}
.product_cat_coffee .description p {font-size:14px;padding-top:10px;display:inline-block }

.coffee-product  p strong {color:#46166b !important; /* purple */
                           font-family:'fruit' !important;
                           font-size:18px;
}
.product_cat_coffee .cart {padding:10px;
                           background-color:#a4d767;} /* green */
                       
.product_cat_coffee label {white-space:normal}

/* product cat page buy now button */
a.button.product_type_grouped {width:97%;
                               margin: 0 3px 3px 0;
                                text-align:left;
                                padding:12px;
                                padding-left:7px}

       
.woocommerce ul.products li.product h3  {font-size:24px}

/* standard woo com buttons */

.send,
a.btn.tilleygreen-btn,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt 
                        { background-color:#46166b; /* purple */
                          color:#a4d767; /* green */
                        font-family:fruit;}

.send:hover ,      
a.btn.tilleygreen-btn:hover,
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover                         
                        { background-color:#935386; /* light purple */
                         color:#a4d767; /* green */;
                         box-shadow: 3px 3px 3px lightgrey;}

/* product price on buy now bar */
#content ul > .product-cat-coffee
> a > span > span { color:#a4d767; /* green */
                   position:absolute;
                   right:20px;
                   bottom:11px;
                   font-weight:bold;
                   font-size:18px;
                   z-index:999;
                   display:none}

.tag-line {font-size:12px;
           font-weight:bold;
           min-height:40px}

.excerpt { font-size:12px;
           font-weight:normal;
           min-height:60px}
.weight {color:#46166b; /* purple */
         float:right;
         font-family: Georgia, serif;
         font-weight:lighter;
         position:relative;
         /* top:10px */}




.strength {
  position: relative;
  top: 0;
  left: 0;
  background: url('./assets/pictures/bean-light.jpg');
  background-size: 23px 17px;
  width: 115px;
  height: 17px;
  display:table;
}

.strength-overlay {
  position: relative;
  top: 0;
  left: 0;
  background: url('./assets/pictures/bean-purple.jpg');
  background-size: 23px 17px;
  width:50%;
  height: 17px;
  overflow:hidden;
  display:table-cell;
}

.strength-filler{display:table-cell}
.coffee-strength {font-size:12px;
                  font-weight:light;
                  width:100%}

.input-text {
    font-size: 17px;
    font-weight: lighter !important;
}


/* hide VAT totals from checkout page - requested meeting 19/05/2016 */
#order_review > table > tfoot > tr.order-total > td > small {display:none}

/* Buy now category page */
#content  ul  li.product-type-grouped.product-cat-coffee  h3 {
    min-height:76px;
}
#content  ul  li.product-type-grouped.product-cat-coffee a div.excerpt {
    min-height: 70px;
}
#content  ul  li.product-type-grouped.product-cat-coffee a div.strength  {
     visibility:visible;
}
#content  div  ul li.product_cat-coffee.product-type-grouped.product-cat-coffee
{overflow:hidden !important}


/* ************************************* */
/* Up/down arrows                        */
/* ************************************* */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0 ;
}

 div.summary.entry-summary > form > div > table > tbody > tr:nth-child(1) > td:nth-child(1) > b
 {color:rgb(85, 85, 85);
  font-family:'fruit';}

 div.summary.entry-summary > form > div > table > tbody > tr:not(:first-child){font-size:15px; height:16px}
  div.summary.entry-summary > form > div > table > tbody > tr:last-child {height:32px}
.product-tag {font-size:12px;
              font-family: Arial, Helvetica, sans-serif;}
 div.summary.entry-summary > form > div > table {margin-left:10px}

 
 /* checkout page */
 #content > div > form > table > tbody > tr.cart_item > td.product-quantity {height:50px}
 #content > div > form > table > tbody > tr.cart_item > td.product-quantity > div {float:right;margin-right:20px}

 
 
 div.summary.entry-summary > form > table {width:100%}
 .price {width:150px;}
 
div.summary.entry-summary > form > table > tbody > tr > td > div.price > div > span > input
{  margin-left:-15px !important;
}

table > tbody > tr.cart_item > td.product-quantity > div > span > a.ui-spinner-button.ui-spinner-up.ui-corner-tr > span,
td > div.price > div > span > a.ui-spinner-button.ui-spinner-up.ui-corner-tr > span
{
    position:relative;
    bottom:27px;
    right:-48px;
    cursor:pointer;
}


table > tbody > tr.cart_item > td.product-quantity > div > span > a.ui-spinner-button.ui-spinner-down.ui-corner-br > span,
 td > div.price > div > span > a.ui-spinner-button.ui-spinner-down.ui-corner-br > span
 {
    position:relative;
    bottom:27px;
    right:53px ;
    cursor:pointer;
}

/* checkout page 'adjustments */
#content > div > form > table > tbody > tr.cart_item > td.product-quantity > div
> span > a.ui-spinner-button.ui-spinner-down.ui-corner-br > span
{right:75px}



/* ***************************** */
/* Bootstrap navbar overrides    */
/* ***************************** */
  
.navbar-nav {font-family: 'LoveYouLikeASister';}

/*.navbar-nav {
         top:25px;
         right:25px;}*/

.navbar-brand {
    background-color: #ffffff;
}

.navbar-header {height:165px}

.navbar-brand img {width:150px;
                   height:151px}

.navbar-default {
    font-size: 14px;
    background-color: #ffffff;
    border-width: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;

}

.navbar-default .container-fluid {background-color:white;}

.navbar-default .navbar-nav>li>a {
    color: rgba(85, 85, 85, 1);
    background-color: #ffffff;
    padding: 5px 10px;
 
}

   
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.dropdown>.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #a4d767; /* green */
    background-color: #ffffff;
    background-image: none !important;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.dropdown>.dropdown-menu>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus 
.navbar-default .navbar-nav>.dropdown>.dropdown-menu>li>a:focus 
{
    color: #46166b !important; /* purple */
    background-color: #ffffff !important;
    background-image: none !important;
    font-weight:bold;
    box-shadow: none;
    -webkit-box-shadow: none;

}
.navbar-default .navbar-nav>.dropdown>.dropdown-menu{
    min-width:125px;
    right:0px !important;
    left:auto !important;
   }

.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}

#header > nav > div > div.navbar-header > button {position:absolute;
                                                  top:125px;
                                                  right:20px}


/* Clickable bootstrap top level */
.dropdown:hover .dropdown-menu {
    display: block;
}


.top-menu{width:150px; margin-right:-15px;float:right;padding-top:10px;}
.top-menu>ul.menu {padding-left:0px}
.top-menu>ul.menu li.menu-item,
#menu-item-37 {
    display: inline !important;
 
}

.top-menu>ul.menu li>a {
    color: rgba(85, 85, 85, 1);
    padding: 10px 0px;
    text-decoration: none;
    font-size:0px;
}

/* hide all of the unsed icons */ 
.top-menu>ul.menu li:nth-child(3)>a i:first-child,
.top-menu>ul.menu li:nth-child(3)>a i:nth-child(2),
.top-menu>ul.menu li:nth-child(2)>a i:first-child,
.top-menu>ul.menu li:nth-child(2)>a i:nth-child(3),
.top-menu>ul.menu li:first-child>a i:nth-child(2),
.top-menu>ul.menu li:first-child>a i:nth-child(3),
.top-menu>ul.menu li:last-child>a i { display:none; } 

/* set font size of all of the used icons */
.top-menu>ul.menu li:nth-child(3)>a i:nth-child(3) ,
.top-menu>ul.menu li:nth-child(2)>a i:nth-child(2) ,
.top-menu>ul.menu li:first-child>a i:first-child {font-size:24px}

/* my basket font size */
.top-menu>ul.menu li:last-child>a   {font-size:12px}

/* ******************************************** */
/*  Bootstrap forms-control                     */
/* ******************************************** */

.form-control {width:90%}

label {color:rgba(85, 85, 85, 1);
       font-size:24px;
       font-weight:normal;
       font-family:'fruit';
       text-align:left;}

textarea:focus,
input:focus {
    border-color: #46166b;
}

textarea:focus,
input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

textarea,
input {
    display: block;
    font-size: 16px;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


input[type=radio],
input[type=checkbox] {width:20px}
input[type=radio]:focus,
input[type=checkbox]:focus {box-shadow:none}

.required {
    color: red;
    font-weight: 700;
    border: 0;}

/* button fudge */

#content  td > input.button,
#place_order,
#content > div > form > table > tbody > tr:nth-child(4) > td > input.button {width:165px;
                                                                             padding-bottom:30px;
                                                                             font-family:fruit}

/* *************************** */
/*  Pages                       */
/* *************************** */
#main #content {padding:10px}


.page-image {   box-shadow: 5px 5px 5px lightgrey;}

.main-overlay {margin:auto;width:307px }


.page-id-12 #main {margin-left:-20px}
.overlay-image-div {/* margin-left:-15px;
                    margin-right:-15px; */
                    background-repeat: no-repeat;
                    background-size:100% auto;
                    padding:0px;
                    width:307px;
                    height:200px}


.overlay    {  position:relative;
               height:100%;
               top:0px; 
               left:0px;
               font-size:18px;
               background:rgba(102,0,102,.5);
               text-align:center;
               padding:100px 0 0 0;
               opacity:0;
               transition: opacity 0.4s ease;
               -webkit-transition: opacity 0.4s ease;
               -moz-transition: opacity 0.4s ease;}

.overlay-image-div:active .overlay,
.overlay-image-div:hover .overlay {
               opacity:1;
                 transition: opacity 0.6s ease;
               -webkit-transition: opacity 0.6s ease;
               -moz-transition: opacity 0.6s ease;

}

.overlay-caption  { color:white;
                    font-size:24px;}

/* *************************** */
/* Home                        */
/* **************************** */

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/

.carousel {   box-shadow: 5px 5px 5px lightgrey;}

/* ******
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
***** */
.carousel-caption {
    
    bottom: 50px;
    font-size:9px;
    padding-bottom: 30px;
    
    color:white;
 
    z-index: 0;
    display: none;
    right: 0;
    bottom: 0;
    left: 0;
    


}


.carousel-caption span
{
    background-color:#46166b; /* purple */
    background-color:rgba(70,22,107,0.5) ;
    padding:10px;
}

.carousel-indicators {visibility:hidden;}


@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/* *************************** */
/* Categories                  */
/* *************************** */

.cat-img-div img {margin:0 auto 20px auto}

/* *************************** */
/* Terms and conditions        */
/* *************************** */

.page-id-142 h1, .page-id-142 h2, .page-id-142 h3
{color:#46166b !important} /* purple */

.page-id-142 h1 { font-size:24px;
     font-weight:bold}

.page-id-142 h2 { font-size:22px;
     font-weight:bold}

.page-id-142 h3 { font-size:18px;
     font-weight:bold}

.page-id-142 a {color:#a4d767;  /* green */}

.page-id-142 #menu-header-menu {display:none}

/* *************************** */
/* contact                     */
/* *************************** */

#ajaxcontactform label {width:90px;
       font-size:18px;
       font-weight:normal;
       float:left}

#ajaxcontactform textarea, 
#ajaxcontactform input {width:80%;}

#keep-in-touch {width:100%;
                 clear:both;
                padding-top:10px}


#keep-in-touch input {width:30px; 
                      float:right}

.send {float:right; 
       margin-top:10px;
       padding: 10px 50px;
       font-weight:bold;
       font-size:18px}

#ajax {display:none;
       z-index:999;
       position:relative;
       left:40%;
       top:-250px}

#ajax i {color:#46166b} /* purple */




/* *************************** */
/* Footer                      */
/* *************************** */
 #footer {margin:0 -20px;
          min-height:180px;
          overflow:auto !important;
        background-color:#231f20 !important;} 
#footer div { color:#ffffff; padding-top:20px;font-size:12px}
#footer img{width:140px;float:right;margin-right:-15px;margin-top:25px}
#footer b { color:white}


.card-images img {height:20px}
.card-images {text-align:right; padding: 0 0 10px 0 }

.card-images {display:none}

.home .card-images,
.woocommerce .card-images {display:block}

.registered-office {text-align:center; font-size:9px !important}


@media  (min-width: 480px)  {

    /* Buy now category page */
    #content  ul  li.product-type-grouped.product-cat-coffee  h3 {
        min-height:76px;
    }
    #content  ul  li.product-type-grouped.product-cat-coffee a div.excerpt {
        min-height: 70px;
    }
     #content  ul  li.product-type-grouped.product-cat-coffee a div.strength {
       visibility:visible;
    }

    /* price on buy now bar */
    #content ul > .product-cat-coffee
    > a > span > span { display:block}


    /* front page product display */
    .tag-line {min-height:38px}
    .excerpt { min-height:55px}
    #content > div > ul > 
    li.product.type-product.status-publish.has-post-thumbnail.product_cat-coffee.featured.taxable.shipping-taxable.product-type-grouped.product-cat-coffee.instock 
    > a > h3 {min-height:65px}


    .carousel-caption {
        bottom: 50px;
        font-size:16px;
        padding-bottom: 30px;
    }    
    
    .carousel-indicators {visibility:visible;}
    


}

@media  (min-width: 768px)  {
    
    .carousel-caption {
    
    bottom: 50px;
    font-size:30px;
    padding-bottom: 30px;
    }

    .navbar-default .navbar-nav>li:not(:last-child)>a{
    border-width: 0 2px 0 0 ;
    border-style:solid;
    border-color: rgba(85, 85, 85, 1);}

    .navbar-nav {
         position: absolute;
         bottom:0px;
         left:180px;}


    #main #content {padding:75px}



     .main-overlay {margin:auto;width:614px }
         

    #content ul > .product-cat-coffee
    > a > span > span { display:none}


    /* front page product display */
    .tag-line {min-height:38px}
    .excerpt { min-height:55px}
    #content > div > ul > 
    li.product.type-product.status-publish.has-post-thumbnail.product_cat-coffee.featured.taxable.shipping-taxable.product-type-grouped.product-cat-coffee.instock 
    > a > h3 {min-height:75px}

    .navbar-default {font-size:11px}

    /* Checkout qty box */
    .page-id-6
    .woocommerce .quantity .qty  {margin-top:20px}
    
    /* checkout page 'adjustments */
#content > div > form > table > tbody > tr.cart_item > td.product-quantity > div
> span > a.ui-spinner-button.ui-spinner-down.ui-corner-br > span
{right:35px}

#content > div > form > table > tbody > tr.cart_item > td.product-quantity > div > 
span > a.ui-spinner-button.ui-spinner-up.ui-corner-tr > span
{right:-63px}

} 
    
/* TilleyGreen specific 'adjustments' */
@media  (min-width: 800px) {

    
 /* front page product display */
.tag-line {min-height:38px}
.excerpt { min-height:51px}
#content > div > ul > 
li.product.type-product.status-publish.has-post-thumbnail.product_cat-coffee.featured.taxable.shipping-taxable.product-type-grouped.product-cat-coffee.instock 
> a > h3 {min-height:76px}


        
        #content ul > .product-cat-coffee > a > span > span { display:block;
                   right:12px;}
        

 
}
@media  (min-width: 850px) {
    .navbar-default {font-size:14px}
}
    

@media  (min-width: 981px) {
    
     /* Buy now category page */
    #content  ul  li.product-type-grouped.product-cat-coffee  h3 {
        min-height:24px;
    }
    #content  ul  li.product-type-grouped.product-cat-coffee a div.excerpt {
        min-height: 51px;
    }
     #content  ul  li.product-type-grouped.product-cat-coffee a div.strength {
       visibility:visible;
    }   
    

.main-overlay {margin:auto;width:921px }
     
      /* front page product display */
.tag-line {min-height:20px}
.excerpt { min-height:51px}
#content > div > ul > 
li.product.type-product.status-publish.has-post-thumbnail.product_cat-coffee.featured.taxable.shipping-taxable.product-type-grouped.product-cat-coffee.instock 
> a > h3 {min-height:30px}

}



@media  (min-width: 1200px) {
    
          /* front page product display */
.tag-line {min-height:20px}
.excerpt { min-height:34px}
#content > div > ul > 
li.product.type-product.status-publish.has-post-thumbnail.product_cat-coffee.featured.taxable.shipping-taxable.product-type-grouped.product-cat-coffee.instock 
> a > h3 {min-height:30px}

}















